.box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.league-title{
    text-align: center;
    color: #fff;
    font-size: 45px !important;
}

.home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h3{
    color: #fff;
    font-size: 35px;
}
